@font-face {font-family: 'Gummy'; 
  src: url('SourGummy-Italic-VariableFont_wdth\,wght.ttf'); } 
* {
font-family: 'Gummy';
font-weight: bold;
font-size: large;
}

body {
  background-color: hsl(183, 77%, 74%);
  vertical-align: middle;
  line-height: 90px; 
}

.navigation {
    display: flex;
    width: fit-content;
    justify-content: center;
    margin: auto;
}

.nav_button {
    display: inline;
    margin: 5px;
    border-radius: 100%;
    transform: scale(1.2);
}

.but {
  margin: 5px;
  height: 70px;
  width: 90px;
  border-radius: 25px;
  transition: background-color 1s;
  transition: transform 1s;
}

.but:hover {
  background-color: hsl(34, 85%, 87%);
  transform: scale(95%);
  transform: rotate(10deg);
}
@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}
@media all and (max-width: 500px) {
  .navigation {
    flex-direction: column;
  }
}

.content {
  text-align: center;
}

.none {
  display: none;
}

#socials {
  margin: 100px 25px 0 0;
  text-align: center;
}

#home {
  height: 100%; 
  margin: 0; 
  overflow: hidden;
  overflow: clip; 
  contain: content;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(210, 59%, 76%);
}



#adv {
  transition: transform 5s;
}

#adv:hover {
  transform: scale(115%);
}

#adv:active {
  border: 5px solid hsl(120, 39%, 62%);
}