@font-face {font-family: 'Gummy'; 
  src: url('SourGummy-Italic-VariableFont_wdth\,wght.ttf'); } 
* {
font-family: 'Gummy';
}


body {
  background-color: hsl(183, 77%, 74%);
  vertical-align: middle;
  line-height: 90px; 
}

.navigation {
    display: flex;
    width: fit-content;
    justify-content: center;
    margin: auto;
}

.nav_button {
    display: inline;
    margin: 5px;
    border-radius: 100%;
    transform: scale(1.2);
}
.nav_button:hover{
    background-color: hsl(210, 59%, 76%);
    transform: rotate(1.5deg);
    transition: (transform, 4s, ease-in-out);
}
@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}
@media all and (max-width: 500px) {
  .navigation {
    flex-direction: column;
  }
}